@{
    var travels = ViewBag.Travels as List<KoiOrderingSystemInJapan.Data.Models.Travel>;
    var koiFishes = ViewBag.KoiFishs as List<KoiOrderingSystemInJapan.Data.Models.KoiFish>;
}
<style>
    .card {
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
        cursor: pointer;
    }

        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
        }
</style>
<div class="container py-3">
    <div>
        <header>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">Cá Koi Japan</h1>
                <p class="fs-5 text-muted">Explore our exciting travel and find your perfect getaway.</p>
            </div>
        </header>

        <main>
            @if (koiFishes != null && koiFishes.Any())
            {
                int itemsPerRow = 2;

                for (int row = 0; row < itemsPerRow; row++)
                {
                    <div class="row row-cols-1 row-cols-md-4 mb-4 text-center justify-content-center">
                        @foreach (var koi in koiFishes.Skip(row * itemsPerRow).Take(itemsPerRow))
                        {

                            <div class="col mb-4">
                                <a asp-controller="CaKoiNhat" asp-action="Details" asp-route-id="@koi.Id" class="w-100 btn btn-lg btn-btn-light mt-auto">

                                    <div class="card h-100 shadow-sm">
                                        <div class="card-body p-0 d-flex flex-column">
                                            <img src="@koi.Picture" alt="@koi.Name" class="card-img-top" style="height: 350px; max-height:400px; object-fit: cover;" />
                                            <h4 class="my-1 p-1 fw-normal text-dark" style="font-size: 16px;">@koi.Name</h4>
                                            <h2 class="card-title pricing-card-title text-dark">@koi.Price đ</h2>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        }
                    </div>

                }
                // Nút "Xem thêm" cho phần cá koi
                <div class="text-center mt-4">
                    <a asp-controller="CaKoiNhat" asp-action="Index" class="btn btn-primary">Xem thêm</a>
                </div>
            }
            else
            {
                <p>No koi the' available at the moment.</p>
            }
        </main>
    </div>

    <div>
        <header>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">Chuyến đi Japan</h1>
                <p class="fs-5 text-muted">Explore our exciting travel and find your perfect getaway.</p>
            </div>
        </header>

        <main>
            @if (travels != null && travels.Any())
            {
                int itemsPerRow = 4;

                for (int row = 0; row < itemsPerRow; row++)
                {
                    <div class="row row-cols-1 row-cols-md-4 mb-4 text-center">
                        @foreach (var travel in travels.Skip(row * itemsPerRow).Take(itemsPerRow))
                        {
                            <div class="col mb-4">
                                <a asp-controller="ChuyenDiJapan" asp-action="Details" asp-route-id="@travel.Id" class="w-100 btn btn-lg btn-btn-light mt-auto">

                                    <div class="card h-100 shadow-sm">
                                        <div class="card-header py-3">
                                            <h4 class="my-0 fw-normal">@travel.Name</h4>
                                        </div>
                                        <div class="card-body d-flex flex-column">
                                            <h2 class="card-title pricing-card-title">$@travel.Price<small class="text-muted fw-light">/person</small></h2>
                                            <ul class="list-unstyled mt-3 mb-4">
                                                <li>Location: @travel.Location</li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                }
                // Nút "Xem thêm" cho phần chuyến đi
                <div class="text-center mt-4">
                    <a asp-controller="ChuyenDiJapan" asp-action="Index" class="btn btn-primary">Xem thêm</a>
                </div>
            }
            else
            {
                <p>No travel available at the moment.</p>
            }
        </main>
    </div>
</div>
